/*global*/

body {
  font-family: sans-serif;
  color: #420600;
  background: #fff url('img/background.png') repeat;
}

.topbar {
  height: 11px;
  background: url('img/topline.png') repeat;
}

#header {
  margin-top: 10px;
  height: 50px;
}

#header a.img {
  border: 20px
}

img, object {
  max-width: 100%;
}


/*typography*/

a {
  color: #4FB69F;
  text-decoration: none;
}

h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.500em;
  color: #B4C34F;
}


/* .btn {
  color: #FAF3BC;
  background: #4FB69F url('img/texture.png') no-repeat right top;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #4CC4A7;
}
*/

/*navigation*/

ul.nav {
  margin: 20px 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-left: 40px;
  padding-bottom: 20px
  /*border-top:1px solid #604c3f;*/
}
ul.nav li .last {
  float: left;
  margin-right: o;
  padding-bottom: 20px;
}

ul.nav li a {
  color: #000;
}

ul.nav li a:hover {
  color: #4FB69F;
}

/*index content*/

ul.portfolio {
  padding-left: 0px;
  padding-top:10px;
}

ul.portfolio li.thumnails {
  display: block;
  border: 1px solid #ddd;
  list-style: none;
  float: left;
  margin: 0 13px 20px 0;
  height: 312px;
  background: #ddd;
}

ul.portfolio li.thumnails:hover {
  border: 1px solid #000;
}

ul.portfolio li.thumnails a {
  color: #888;
  font-size: 0.9em;

}

ul.portfolio li.thumnails .thum_title {
  color:#333;
  margin-bottom: 4px;
  padding: 3px 5px;
}

ul.portfolio li.thumnails .thum_title .text {
  font: bold 0.75em ;
}

ul.portfolio li.thumnails .thum_tag {
  margin-bottom: 5px;
  padding-left: 5px;
}

ul.portfolio li.thumnails .thum_tag .text a:hover {
  border-bottom: 1px solid #888;
}

.copyright {
  border-top: 1px solid #2A0400;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}

/*naezin contents*/

.name {
  font: bold;
  font-size: 1.75em;
  letter-spacing: -2px;
  color: #555;
  margin: 50px 0 50px 0;
  
}

#title{
  border-left: 3px solid #777;
  font-size: 1.2em;
  letter-spacing: -1px;
  color: #555;
  margin: 0 0 20px 5px;
}

#index {
  font-size: 0.8em;
  color:#999;
  margin: 0 0 0 17px;
}

#contents {
  color: #555;
  margin: 0 0 30px 0;
}

/*works contents*/

.project_title {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 2px;
  }
  
.project_title a {
  color: #000;
}

.border {
  background-color: #000;
  margin-bottom: 20px;
  height:3px;
}

.project_footer span {
  display: block;
  margin-bottom: 2px;
}

.project_footer span.work_day {
  font-size: 0.75em;
  color:#999;
  margin-bottom: 3px;
}

.project_footer span.tags {
  margin-bottom: 10px;
}

.project_footer span.tags a {
  font-size: 1em;
  color: #888;
}

.project_footer span.tags a:hover {
  border-bottom: 1px solid #888;
}

#copyright {
  font-size: 0.75em;
  color: #999;
  margin-top: 5px;
  margin-bottom: 30px
}













