{% extends "base.html" %}

{% block container %}
    
  <ul class="portfolio">
    <li class="thumnails grid_3 alpha">
      <a href="web_hasdocs.html">
        <img src="thumnails/hasdocsweb.png" alt="printwork1">
      </a>
      <div class="thum_title">
        <span class="text">Website for "HasDocs"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">web</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3">
      <a href="bi_hasdocs.html">
        <img src="thumnails/hasdocs.png" alt="printwork2">
      </a>
      <div class="thum_title">
        <span class="text">
          Brand Identity for "HasDocs"
        </span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">identity,</a>
          <a href="#">logo</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3">
      <a href="web_manus.html">
       <img src="thumnails/manusweb.png" alt="web1">
      </a>
      <div class="thum_title">
        <span class="text">Website for "Manus"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">web</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3 omega">
      <a href="bi_narrowcast.html">
        <img src="thumnails/narrowcast.png" alt="identity1">
      </a>
      <div class="thum_title">
        <span class="text">Company Identity for "narrowcast"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">identity,</a>
          <a href="#">logo</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3 alpha">
      <a href="print_leaflet_virect.html">
        <img src="thumnails/leaflet_virect.png" alt="printwork1">
      </a>
      <div class="thum_title">
        <span class="text">Leaflet "viret"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">print</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3">
      <a href="app_tikkon.html">
       <img src="thumnails/tikkonapp.png" alt="web1">
      </a>
      <div class="thum_title">
        <span class="text">Application for "Tikkon"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">app</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3">
      <a href="web_virect.html">
       <img src="thumnails/virectweb.png" alt="web1">
      </a>
      <div class="thum_title">
        <span class="text">Website for "virect"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">web</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3 omega">
      <a href="bi_virect.html">
        <img src="thumnails/virect.gif" alt="identity1">
      </a>
      <div class="thum_title">
        <span class="text">Brand Identity for "virect"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">identity,</a>
          <a href="#">logo</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3 alpha">
      <a href="bi_tikkon.html">
        <img src="thumnails/tikkon.png" alt="identity2">
      </a>
      <div class="thum_title">
        <span class="text">Brand Identity for "Tikkon"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">identity,</a>
          <a href="#">logo</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3">
      <a href="print_unusual_life.html">
        <img src="thumnails/book_zipperstory.jpg" alt="printwork3">
      </a>
      <div class="thum_title">
        <span class="text">Project "Unusual life"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">print,</a>
          <a href="#">book</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3">
      <a href="print_mytree.html">
        <img src="thumnails/poster1.png" alt="printwork1">
      </a>
      <div class="thum_title">
        <span class="text">Project"MY TREE"</span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">print,</a>
          <a href="#">poster</a>
        </span>
      </div>
    </li>
    <li class="thumnails grid_3 omega">
      <a href="print_unitA.html">
        <img src="thumnails/poster2.png" alt="printwork2">
      </a>
      <div class="thum_title">
        <span class="text">
          project "unit A0-A1-A2-A3-A4"
        </span>
      </div>
      <div class="thum_tag">
        <span class="text">
          <a href="#">print,</a>
          <a href="#">poster</a>
        </span>
      </div>
    </li>      
        </span>
      </div>
    </li>
  </ul>

{% endblock %}
